.banner{
width:100%;
background:white;
height:auto;
display:flex;
flex-direction:column;
justify-content:center;
padding-top:2rem;
}
.linha{
background:blue;
height:5rem;
}
.cartaz{
background:rgba(200,250,250, 1);
width:90%;
height:auto;
display:flex;
justify-content:center;
align-items:center;
margin:3rem;

}
.banner_cartaz_img{
width:27rem;
height:35rem;
}
.destaque_cartaz{
color:black;
font-size:18px;
}
.cartaz_texto{
display:flex;
flex-direction:column;
justify-content:space-around;
align-items:center;
color:#410455;
width:27rem;
height:35rem;
font-size:15px;
}