.header{
display:flex;
flex-direction:column;
background: linear-gradient(to right,rgb(144,24,24) -23%, rgb(87,14,118)16%,rgb(119,80,163)52%, rgb(190,16,83)77%, rgb(230,24,233)120% );

}
.nav-superior{
display:flex;
justify-content:space-between;
}
.logo{
margin-right:0.4rem;
margin-top:0.5rem;
width:14%;
}
.logoIMG{
width:5rem;
height:5rem;

}
.list{
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:flex-end;
margin:0.5rem;
width:50%;

}
ul{
display:flex;
justify-content:space-around;
margin:0rem;
width:70%;
}
.list ul  li{
font-size:13px;
list-style-type:none;
align-text:center;
margin:0;
padding:0.2rem;
background:blue;
border-radius:1.7rem;
color:#ffffff;
width:25%;
}
input{
background:#d9d9d9;
width:55%;
padding:0.2rem;
border-color:transparent;
border-radius:0.9rem;
margin-right:6%;

}
.header .linha{
margin-top:0.1rem;
height:3px;
background: linear-gradient(to left,rgb(61,7,70) 19%, rgb(9,48,242)54%, rgb(253,88,88)96% );
}

.nav-inferior ul {
margin-top:0.3rem;
width:65%;
padding:0.4rem;

}
li{
font-size:11px;
list-style-type:none;
color:#ffffff;
}
